<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% @tasks.each do |task| %>
	<%= link_to "#{task.name}", task_path(task.id), method: :get %>
	<%= "#{task.description}" %> 
	<%="#{task.completion_date}" %>
	<br>
	<br>
<% end %>
